<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate Quizs App</title>
    <link rel="stylesheet" href="/css/gq.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">GateQuizApp</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Aptitude</a></li>
            <li><a href="#">CSE</a></li>
            <li><a href="#">Subject</a></li>
            <li><a href="#">Stream</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>


    <h1>Welcome to the Tech world</h1>

    




</body>
</html>