*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.navbar {
    background-color: #333;
    text-align: right; /* Align navbar to the right */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between menu items */
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar {
        text-align: left; /* Align navbar to the left on smaller screens */
    }

    .navbar ul {
        text-align: center; /* Center align menu items on smaller screens */
    }

    .navbar li {
        display: block;
        margin: 0;
        margin-bottom: 5px; /* Adjust spacing between stacked menu items */
    }
}