
    <footer>
        <div class="social-links">
            <a href="#" class="social-link" aria-label="Facebook">Facebook</a>
            <a href="#" class="social-link" aria-label="LinkedIn">LinkedIn</a>
            <a href="#" class="social-link" aria-label="GitHub">GitHub</a>
            <a href="#" class="social-link" aria-label="Stack Overflow">Stack Overflow</a>
            <a href="#" class="social-link" aria-label="Devfolio">Devfolio</a>
            <a href="#" class="social-link" aria-label="Bugcrowd">Bugcrowd</a>
        </div>
        <div class="footer-message">
            Made with <span class="heart-icon">&#10084;</span> in India
        </div>
    </footer>


    <script src="/js/eye-gqa.js"></script>
</body>
</html>