<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate Quiz App</title>
    <link rel="stylesheet" href="/css/template.css">
    <!-- Include Google Fonts (Optional) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/">GateQuizApp</a>
            
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aptitude">Aptitude</a></li>
            <li><a href="/random">Random</a></li>
            <li><a href="/subject">Subject</a></li>
            <li><a href="/stream">Stream</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
        <div class="eye-container">
            <div class="eye">
                <div class="pupil"></div>
            </div>
        </div>
    </nav>