

<div class="card-wrapper">
    <div class="card">
        <div class="question">
            <h2>
                    this is an example of questions

            </h2>
        </div>
        <div class="options">
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="answer" value="A">
                    <span>A. Paris</span>
                </label>
                <label class="option">
                    <input type="radio" name="answer" value="B">
                    <span>B. Berlin</span>
                </label>
            </div>
            <div class="option-row">
                <label class="option">
                    <input type="radio" name="answer" value="C">
                    <span>C. Madrid</span>
                </label>
                <label class="option">
                    <input type="radio" name="answer" value="D">
                    <span>D. Rome</span>
                </label>
            </div>
        </div>
        <div class="button-container">
            <button class="next-button">Next</button>
        </div>
    </div>
</div>